<ul class="nav flex-column flex-nowrap overflow-hidden">

  <li class="nav-item">
    <h5>Admin</h5>
  </li>

  <li class="nav-item">
    <h6>Webinars</h6>
  </li>
  <li class="nav-item"><a href="#" class="nav-link">Manage</a></li>
  <li class="nav-item"><a [routerLink]="['webinars/create']" class="nav-link">Create</a></li>
  <li class="nav-item"><a href="#" class="nav-link">CPD</a></li>

  <li class="nav-item">
    <h6>Webinar Registrants</h6>
  </li>
  <li class="nav-item"><a href="#" class="nav-link">View</a></li>

  <li class="nav-item">
    <h6>Recording Registrants</h6>
  </li>
  <li class="nav-item"><a href="#" class="nav-link">View</a></li>

  <li class="nav-item">
    <h6>Practitioners</h6>
  </li>
  <li class="nav-item"><a href="#" class="nav-link">Manage All</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Unverified</a></li>

  <li class="nav-item">
    <h6>Reports</h6>
  </li>
  <li class="nav-item"><a href="#" class="nav-link">CPD Certificate Issues</a></li>

  <li class="nav-item">
    <h6>Users</h6>
  </li>
  <li class="nav-item"><a href="#" class="nav-link">Manage</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Create</a></li>
</ul>